/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Styling for the whole page's background and text color */
body {
    background: #39297b;
    color: #fff;
}

/* Styling for container elements */
.container,
.container-fluid {
    height: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Styling for level 1 headings */
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
}

/* Styling for the input field and form container */
.inputfield,
form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #434989;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

    /* Styling for input fields within the form */
    form input {
        flex: 1;
        height: 100%;
        border: 0;
        outline: 0;
        background: transparent;
        color: #fff;
        font-size: 18px;
        padding: 0 30px;
    }

    /* Styling for buttons within the form */
    form button {
        padding: 0 40px;
        height: 100%;
        background: #ff3929;
        color: #fff;
        font-size: 18px;
        border: 0;
        outline: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

/* Styling for placeholder text */
::placeholder {
    color: #fff;
    font-size: 18px;
}

/* Styling for the "show more" button */
#show-more-btn {
    font-size: large;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: auto;
    margin-left: 95px;
    margin-right: 95px;
    cursor: pointer;
    display: none;
}

/* Styling for the search result container */
#search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

    /* Styling for images within the search result container */
    #search-result img {
        width: 100%;
        height: 230px;
        object-fit: cover;
        border-radius: 5px;
    }

/* Media query for screen widths up to 1200px */
@media screen and (max-width: 1200px) {
    #search-result {
        grid-template-columns: 1fr 1fr;
    }
}

/* Media query for screen widths up to 992px */
@media screen and (max-width: 992px) {
    #search-result {
        grid-template-columns: 1fr 1fr;
    }

    /* Adjusting the form width for smaller screens */
    form {
        width: 100%;
    }
}

/* Media query for screen widths up to 768px */
@media screen and (max-width: 768px) {
    #search-result {
        grid-template-columns: 1fr;
    }

    /* Adjusting the form width for smaller screens */
    form {
        width: 100%;
    }
}

/* Media query for screen widths up to 480px */
@media screen and (max-width: 480px) {
    #search-result {
        grid-template-columns: 1fr;
    }

    /* Adjusting the form width for smaller screens */
    form {
        width: 100%;
    }
}
